#item-1{
    background-color: orange;
    height:20cqw;
    width: 98px;
    padding: 20px;
    margin: 40;
}
#item-2{
    background-color: gold;
    height: 200px;
    width: 300px;
    border-width: 15px;
    border-color: purple;
}
#item-3{
    background-color: green;
    height: 200px;
    width: 90%;
}
body{
    width: 900px;
}